extends layout

block content
  .row
    .col-md-12
      .text-center
        h1 TimeStamp Microservice
        h2 Example Usage
        p "https://timestamp-ms/herokuapp.com/01/15/2017"
        | would output: 
        | { "unix": 1484438400, "date": "01/15/2017"}
        br
        br
        p Designed by: Kyle C R Fahey 
        a(href="http://github.com/quesurifn") Github
      
